@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Guitar Management System</h1>
    <article>
        <section>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </section>
        <section>
            <a class="nav-link text-dark" asp-area="" asp-controller="Guitar" asp-action="Index">All guitars</a>
        </section>
        <section>
            <a class="nav-link text-dark" asp-area="" asp-controller="Manufacturer" asp-action="Index">All manufacturers</a>
        </section>
        
    </article>
</div>